// @use "sass:math";

:root {
  --base-width: 20px;
}

$base-color: #337ab7;
$disable-background-color: #eceeef;
// $flex-width : var(--base-width);
// $w: calc($flex-width - 70px);


// @mixin ellipse($w) {
//  $tempWidth : calc($flex-width - 70px);
//    @if $flex-width == $tempWidth {
//     // if width is not passed, or empty do this
//     content: '.........';
//    } @else {
//       content: '...';
//    }
// }
.multiselect-dropdown {
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  .dropdown-btn {
    display: inline-block;
    border: 1px solid #c9c9c9;
    width: 100%;
    padding: 6px 10px 0 11px;
    background-color: white;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    min-height: 35px;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    max-height: 200px;
    overflow: hidden auto;
    //
    // width: $flex-width;
    .selected-item-container {
      display: flex !important;
      //float: left;
      //max-width: 75%;
      min-width: fit-content;
      .selected-item{
        // border: 1px solid $base-color;
        // margin-right: 4px;
        // margin-bottom: 4px;
        // background: $base-color;
        // padding: 0px 5px;
        // color: #fff;
        // border-radius: 2px;
        // float: left;
        color: #555 !important;
        // line-height: normal;
        // white-space: normal;
        max-width: unset;
        display: flex;
        overflow: hidden;
        // span {
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   max-width: 12.1vw;
        //   display: block;
        //   white-space: nowrap;
        // }
      }
    }
    .selected-item:hover {
      box-shadow: none;
    }
    .dropdown-multiselect__caret {
      line-height: 16px;
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 38px;
      right: 1px;
      top: 0px;
      padding: 12px 8px;
      margin: 0;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
    .dropdown-multiselect__caret:before {
      position: relative;
      right: 0px;
      top: 84%;
      // right: -5px;
      // top: 60%;
      color: #999;
      margin-top: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #999999 transparent;
      content: "";
transition: 0.1s;
      // new style
      top: 12px;
    position: absolute;
    right: 4px;
    }
    .dropdown-multiselect--active .dropdown-multiselect__caret {
      transform: rotate(180deg);
      transform-origin: center;
      right: -5px;
      &::before{
        top: -12px;
        right: 5px;
      }
    }
  }
  .disabled {
    & > span {
      background-color: $disable-background-color;
    }
    // .dropdown-multiselect--active .dropdown-multiselect__caret
    // {
    //   transform: none;
    //   right: 1px;
    // }
  }
}

.dropdown-list {
  position: absolute;
  padding-top: 0;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0px 1px 5px #959595;
  height: fit-content;
  max-height: 200px;
  overflow-y: auto;
  white-space: nowrap;
  word-break: normal;
  inline-size: min-content; //ticket number 3756
  min-width: -webkit-fill-available; //ticket numbet 3756
    &::-webkit-scrollbar {
    width: 8px;
    }
  &::-webkit-scrollbar-track {
     background: #dee2e6;
    }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    }

  ul {
    padding: 0px;
    list-style: none;
    overflow: auto;
    margin: 0px;
  }
  li {
    padding: 6px 10px;
    cursor: pointer;
    text-align: left;
    &.disabled{
      cursor: not-allowed;
    //   background-color: #ececec;
    //   input[type=checkbox] + div{
    //     color: #959595;
    //     cursor: auto;
    //   }
    div{
      cursor: not-allowed;

    }
    }

  }
  .filter-textbox {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 8px;
    input {
      border: 0px;
      width: 100%;
      padding: 0px 0px 0px 0px;
      color: rgb(51,51,51) !important;
    }
    input:focus {
      outline: none;
    }
  }
}

.multiselect-item-checkbox:hover{
  background-color: #e4e3e3;
}
.multiselect-item-checkbox input[type='checkbox'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.multiselect-item-checkbox input[type='checkbox']:focus + div:before,
.multiselect-item-checkbox input[type='checkbox']:hover + div:before {
  border-color: $base-color;
  background-color: #f2f2f2;
}

.multiselect-item-checkbox input[type='checkbox']:active + div:before {
  transition-duration: 0s;
}

.multiselect-item-checkbox input[type='checkbox'] + div {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  margin: 0px;
  color: #000;
}

.multiselect-item-checkbox input[type='checkbox'] + div:before {
  box-sizing: content-box;
  content: '';
  color: $base-color;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 15px;
  margin-top: -9px;
  border: 2px solid $base-color;
  text-align: center;
  transition: all 0.4s ease;
}

.multiselect-item-checkbox input[type='checkbox'] + div:after {
  box-sizing: content-box;
  content: '';
  background-color: $base-color;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type='checkbox']:disabled + div:before {
  border-color: #cccccc;
}

.multiselect-item-checkbox
  input[type='checkbox']:disabled:focus
  + div:before
  .multiselect-item-checkbox
  input[type='checkbox']:disabled:hover
  + div:before {
  background-color: inherit;
}

.multiselect-item-checkbox
  input[type='checkbox']:disabled:checked
  + div:before {
  background-color: #cccccc;
}

.multiselect-item-checkbox input[type='checkbox'] + div:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:before {
  animation: borderscale 200ms ease-in;
  background: $base-color;
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:after {
  transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px $base-color;
  }
}

.flex_hidden {
  display: flex;
  overflow: hidden;
  align-items: baseline;
  // white-space: nowrap;
  flex-wrap: nowrap;
  //
  // max-width: calc(100% - 70px);
  max-width: 100%;
  width: 100%;
// &.visible{
//   overflow: visible;

// }
  &.wrap
  {
  flex-wrap: wrap;
  }
  &::before {
    // @include ellipse($w);
    content: '';
    position: relative;
    font-size: 10px;
    color: black;
    line-height: 100px;
    right: 0;
  }
}
.remaining-count{
        padding-right: 26px !important; line-height: 16px;
        display: block;
        position: absolute;
        box-sizing: border-box;
        height: 38px;
        right: 1px;
        top: 0px;
        padding: 12px 6px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s ease;
}

.dropdown-list ul {
  overflow: initial !important;
}

.multiselect-item-checkbox.disabled input[type='checkbox'] + div {
  cursor: not-allowed;
}

.upper{
  position: sticky;
  top: -7px;
  background: white;
  z-index: 1;
}

.searchText::placeholder{
  color: #acacac !important;
}

.hyperLinkText{
  color: var(--bs-link-color);
}
.hyperLinkText:hover{
  text-decoration: underline;
}
